# coding=utf-8

API_TOKEN = "YOUR_API_TOKEN"
SERVER_MODE = "sandbox"  # sandbox or production
SC_API_KEY = "SC_API_KEY"
SC_VOUCHER_HASH = []  # لیست کد های تخفیف
GUILD_CODE = "API_GUILD"  # کد صنفی که قصد دارید مبلغ فاکتورهای ایجاد شده به آن واریز شود

USER_ID_YOUR_BUSINESS =   # شناسه کاربری کسب و کار خودتان
USER_ID =    # شناسه کاربری مشتری
WALLET =   # کد کیف پول
OTHER_BUSINESS_GUILD_CODE =   # کد صنفی در کسب و کار دوم
OTHER_BUSINESS_API_TOKEN =   # API TOKEN کسب و کار دوم

# Voucher Test variables
PRODUCT_IDs = []         # لیستی از شناسه محصولات
DEALER_BUSINESS_IDs = []    # لیستی از شناسه کسب و کارهای همکار

# Settlement Test variables
SHEBA_NUMBER = ""     # شماره شبا
CARD_NUMBER = ""        # شماره کارت


# Direct WithDraw Test variables
USERNAME_BANK = ""  # نام کاربری وب سرویس بانک
PRIVATE_KEY_PATH = ""  # مسیر فایل xml کلید خصوصی دریافتی از بانک
DEPOSIT_NUMBER = ""  # شماره سپرده


