# coding=utf-8

API_TOKEN = "YOUR_API_TOKEN"
SERVER_MODE = "sandbox"  # sandbox or production
SC_API_KEY = "SC_API_KEY"
SC_VOUCHER_HASH = []  # لیست کد های تخفیف
GUILD_CODE = "API_GUILD"  # کد صنفی که قصد دارید مبلغ فاکتورهای ایجاد شده به آن واریز شود

USER_ID =   # شناسه کاربری مشتری
PRODUCT_IDs = []         # لیستی از شناسه محصولات
DEALER_BUSINESS_IDs = []    # لیستی از شناسه کسب و کارهای همکار - حداقل 2 مورد را وارد نمایید


# Direct WithDraw
USERNAME_BANK = ""  # نام کاربری وب سرویس بانک
PRIVATE_KEY_PATH = "PATH_TO_PRIVATE_KEY_XML"  # مسیر فایل xml کلید خصوصی دریافتی از بانک
DEPOSIT_NUMBER = ""  # شماره سپرده

